@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  background: linear-gradient(
      90deg,
      rgba(166,93,234,1) 25%,
      rgba(207,103,235,1) 73%);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 2rem;
}

header{
    display: flex;
    height: 75px;
    background-color: grey;
    align-items: center;
    padding: 9px;
}
.main{
  display: grid;
  grid-template-rows: auto;
}
.logo{
    display: flex;
}

.logo-img{
    height: 200px;
}

ul {
    list-style-type: none;
  }

  li {
    float: left;
    margin-right: 110px;
    padding: 4px;
  }

  nav a{
    font-weight: 600;
    padding-right: 10px;

  }

  nav a:hover{
    color: white;
  }

  .contenedor_padre_index {
    display: flex;
    flex-direction: row;
    height: 550px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor_hijo_index {
    font-weight: 600;
    height: 500px;
    width: 350px;
    background-color: white;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.contenedor_padre {
  display: flex;
  flex-direction: row;
  height: 550px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contenedor_hijo {
  font-weight: 600;
  height: 500px;
  width: 350px;
  background-color: white;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;

}

.banner_inicio{
  height: 100%;
  width: 100%;
}

.h2_index, .h1_productos, .h2_productos, .h1_accesorios, .h2_accesorios {
  text-align: center;
  margin: 29px 0 32px 0;
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 40px;
  color: #333;
}

.producto_img{
  height: 450px;
  width: 300px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.conteiner_form{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.conteiner_form h2{
  margin-bottom: 15px;
  font-size: 35px
}
.conteiner_form p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.conteiner_form a{
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.conteiner_form a i{
  color: #333;
  margin-right: 10px;
}
.conteiner_form form .campo, textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.conteiner_form form textarea{
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.conteiner_form .btn-enviar{
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #333;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.conteiner_form .btn-enviar:hover{
  background: #333;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  margin-bottom: -50px; 
}

.content {
  padding-bottom: 50px; 
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.logo_footer{
  width: 100px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}


